version: '3.8'

services:
  web:
    image: nginx:1.26.3-alpine
    container_name: my-web-app
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./html:/usr/share/nginx/html:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      
      # 1. Map trực tiếp thư mục chứng chỉ thật của VPS vào container
      - /etc/letsencrypt:/etc/letsencrypt:ro
      
      - type: tmpfs
        target: /var/cache/nginx
        tmpfs:
          mode: 1777
          
      - type: tmpfs
        target: /var/run
        tmpfs:
          mode: 1777
          
    user: "101"
    read_only: true