version: '3.8'

services:
  web:
    image: nginx:alpine
    container_name: my-web-app
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./html:/usr/share/nginx/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      # Map thư mục chứa chứng chỉ vào container
      - ./certs:/etc/letsencrypt