version: '3.8'

services:
  web:
    image: nginx:alpine
    container_name: my-web-app
    restart: always
    ports:
      - "80:80"
    volumes:
      # Map thư mục chứa mã nguồn web
      - ./html:/usr/share/nginx/html
      
      # Map file cấu hình Nginx để nhận diện tên miền wanderingtomes.site
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf