version: '3.8'

services:
  web:
    image: nginx:1.26.3-alpine
    container_name: my-web-app
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./html:/usr/share/nginx/html:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      # Map thư mục chứa chứng chỉ vào container (read-only)
      - ./certs:/etc/letsencrypt:ro
    user: "101"
    read_only: true
    tmpfs:
      - /var/cache/nginx