services:
  web:
    image: nginx:1.26.3-alpine
    container_name: my-web-app
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./html:/usr/share/nginx/html:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      
      # Map chứng chỉ SSL
      - /etc/letsencrypt:/etc/letsencrypt:ro
      
      # Mount tmpfs vào /tmp để chứa các file temp của Nginx
      - type: tmpfs
        target: /tmp
        tmpfs:
          mode: 1777
          
      # Giữ nguyên /var/run cho PID file (Nginx mặc định ghi PID vào đây)
      - type: tmpfs
        target: /var/run
        tmpfs:
          mode: 1777
          
    user: "101"
    read_only: true