services:
  web:
    image: ghcr.io/yoirk/cicdforweb:latest
    container_name: web_proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      backend:
        condition: service_healthy
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./html:/usr/share/nginx/html:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - type: tmpfs
        target: /tmp
        tmpfs: {mode: 01777}
      - type: tmpfs
        target: /var/run
        tmpfs: {mode: 01777}
    user: "101"
    read_only: true
    deploy:
      resources:
        limits:
          cpus: '0.50'   # Giới hạn tối đa 50% của 1 core CPU
          memory: 128M   # Giới hạn tối đa 128MB RAM
        reservations:
          cpus: '0.10'
          memory: 64M
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

  backend:
    image: ghcr.io/yoirk/cicdforweb-backend:latest
    container_name: python_api
    restart: always
    expose:
      - "8000"
    volumes:
      - sqlite_data:/data
    tmpfs:
      - /tmp
    environment:
      - SECRET_KEY=thay_doi_khi_len_prod
      
      # Map key từ file .env vào biến mà Litestream cần
      - LITESTREAM_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - LITESTREAM_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      
      # Khai báo Region
      - AWS_REGION=ap-southeast-1
    user: "1001"
    read_only: true
    deploy:
        resources:
            limits:
                cpus: '0.50'
                memory: 200M
    healthcheck:
      test: ["CMD", "python", "-c", "import socket; s = socket.socket(socket.AF_INET, socket.SOCK_STREAM); exit(0) if s.connect_ex(('localhost', 8000)) == 0 else exit(1)"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

volumes:
  sqlite_data: