services:
  web:
    image: ghcr.io/yoirk/cicdforweb:latest
    container_name: web_proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      backend:
        condition: service_healthy
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./html:/usr/share/nginx/html:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - type: tmpfs
        target: /tmp
        tmpfs: {mode: 01777}
      - type: tmpfs
        target: /var/run
        tmpfs: {mode: 01777}
    user: "101"
    read_only: true
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5s

  backend:
    image: ghcr.io/yoirk/cicdforweb-backend:latest
    container_name: python_api
    restart: always
    expose:
      - "8000"
    volumes:
      - sqlite_data:/data
    tmpfs:
      - /tmp
    environment:
      - SECRET_KEY=thay_doi_khi_len_prod
    user: "1001"
    read_only: true
    deploy:
        resources:
            limits:
                cpus: '0.50'
                memory: 200M
    healthcheck:
      test: ["CMD", "python", "-c", "import socket; s = socket.socket(socket.AF_INET, socket.SOCK_STREAM); exit(0) if s.connect_ex(('localhost', 8000)) == 0 else exit(1)"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

volumes:
  sqlite_data: